<div class="card text-white bg-dark mb-3 center">
  <div class="card-header">
    Scheduler
  </div>
<div class="card-body">
<div class="form_container" >
  <form [formGroup]="scheduleForm" (ngSubmit) = "onClickSubmit(scheduleForm.value)"  align="cemter">
     <td>
     <label>Date</label>
     <input type="date" name="date" formControlName="date"/>
     </td>
     <td>
     <label>Time </label>
     <input type="time"  name="time" formControlName="time"/>
     </td>
     <td>
     <label>Schedule Type </label>
     <select name="scheduleType"  formControlName="type">
                  <option value="weekly">Weekly</option>
                  <option value="daily">Daily</option>
                  <option value="monthly">Monthly</option>
              </select>
     </td>
     
     <td>
     <label>Schedule </label>
     <button [disabled]="!scheduleForm.valid" value="schedule">Submit</button>
     </td>
  </form>
  <td><a routerLink="/"><button class="btn btn-secondary">BACK</button></a></td>
</div>
</div>
</div>

