<!-- <div class="container">

  <table id="center_table" width="400px">
    <tbody>
      <tr>
        <td><a routerLink="/upload"><button>Upload</button></a></td>
        <td><a routerLink="/schedule"><button>Schedule</button></a></td>
      </tr>

    </tbody>

  </table>

</div> -->

<div class="card">
  <tbody>
    <tr>
      <td><a routerLink="/upload"><button class="btn btn-secondary">Upload</button></a></td>
      <td> <a routerLink="/schedule"><button class="btn btn-secondary">Schedule</button></a></td>
    </tr>
  </tbody>
</div>