<!-- <div class="container">

  <table id="center_table" width="400px">
    <tbody>
      <tr>
        <td><a routerLink="/upload"><button>Upload</button></a></td>
        <td><a routerLink="/schedule"><button>Schedule</button></a></td>
      </tr>

    </tbody>

  </table>

</div> -->

<div class="card text-white bg-dark mb-3 center">
  <div class="card-header">

  </div>
<div class="card-body" align="center">
  <tbody>
    <tr>
      <td><a routerLink="/upload"><button class="btn btn-secondary">Upload</button></a></td>
      <td> <a routerLink="/schedule"><button class="btn btn-secondary">Schedule</button></a></td>
      <td> <a routerLink="/datadiscovery"><button class="btn btn-secondary">Data Discovery</button></a></td>
    </tr>
  </tbody>
</div>
</div>
