<div class="card text-white bg-dark mb-3 center">
  <div class="card-header">
    Upload
  </div>


  <div class="card-body">

    <div class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <label class="control-label col-md-2 text-right" for="filename"><span>File</span></label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="hidden" id="filename" name="filename" value="">
              <input type="file" id="uploadedFile" class="form-control" name="uploadedFile" (change)="onFileChange($event)">
              <div class="input-group-btn">
                <input type="submit" value="Upload" (click)="uploadFile()" class="btn btn-secondary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <td><a routerLink="/"><button class="btn btn-secondary">BACK</button></a></td>
</div>